<%- include("partials/header") %>

<section id="favorites-list">
    <div class="accordion">
        <ul>

            <% for (let i = 0; i < favoriteData.length; i++) {%>

            <li>
                <article class="name">
                    <div class="accordion-panel">
                        <h2 id="panel<%-i+1%>-title">
                            <button class="accordion-trigger" aria-expanded="false"
                                aria-controls="accordion<%-i+1%>-content">
                                <%- favoriteData[i].characterName %> (<%- favoriteData[i].favoriteQuotes.length %>)
                            </button>
                        </h2>
                        <div class="accordion-content" role="region" aria-labelledby="panel<%-i+1%>-title"
                            aria-hidden="true" id="panel<%-i+1%>-content">
                            <div>
                                <p>Saved Quotes List:</p>

                                <% for (let j = 0; j < favoriteData[i].favoriteQuotes.length; j++) {%>

                                <container id="favorite-quote-container">
                                    <article class="quote">
                                        <p><%- j+1 %>.&nbsp; " <%- favoriteData[i].favoriteQuotes[j] %> "</p>

                                    </article>
                                    <article id="delete-quote-article"><a class="a" id="delete-quote"
                                            href="/deleteFavoriteQuote/<%- i %>/<%- j %>"><img
                                                src="../images/delete.png" alt="delete-quote"></a></article>
                                </container>

                                <%}%>
  
                               <p><a class="a" id="print-quotes" href="/printQuotes/<%- i %>">Print Character
                                Quotes</a></p>

                                <div class="accordion-panel more-content">
                                    <h2 id="panel<%-i+2%>-title">
                                        <button class="accordion-trigger more-info" aria-expanded="false"
                                            aria-controls="accordion<%-i+2%>-content">
                                            More info
                                        </button>
                                    </h2>
                                    <div class="accordion-content" role="region" aria-labelledby="panel<%-i+2%>-title"
                                        aria-hidden="true" id="panel<%-i+2%>-content">
                                        <div id="more-info">
                                            <p><%- favoriteData[i].characterName %> has
                                                <%- favoriteData[i].quotesAmount %> quotes in our system</p>
                                            <%if (favoriteData[i].characterInfo.height != ""){%>
                                            <p>Height:&nbsp;<span> <%- favoriteData[i].characterInfo.height %></span>
                                            </p>
                                            <%}%>
                                        <% if (favoriteData[i].characterInfo.hair != ""){%>
                                            <p>Hair:&nbsp;<span> <%- favoriteData[i].characterInfo.hair %></span></p>
                                            <%}%>
                                        <% if (favoriteData[i].characterInfo.gender != ""){%>
                                            <p>Gender:&nbsp;<span> <%- favoriteData[i].characterInfo.gender %></span>
                                            </p>
                                            <%}%>
                                        <% if (favoriteData[i].characterInfo.race != ""){%>
                                            <p>Race:&nbsp;<span> <%- favoriteData[i].characterInfo.race %></span></p>
                                            <%}%>
                                        <% if (favoriteData[i].characterInfo.realm != ""){%>
                                            <p>Realm:&nbsp;<span> <%- favoriteData[i].characterInfo.realm %></span></p>
                                            <%}%>
                                        <% if (favoriteData[i].characterInfo.spouse != ""){%>
                                            <p>Spouse:&nbsp;<span> <%- favoriteData[i].characterInfo.spouse %></span>
                                            </p>
                                            <%}%>
                                        <% if (favoriteData[i].characterInfo.birth != ""){%>
                                            <p>Birth:&nbsp;<span> <%- favoriteData[i].characterInfo.birth %></span></p>
                                            <%}%>
                                        <% if (favoriteData[i].characterInfo.death != ""){%>
                                            <p>Death:&nbsp;<span> <%- favoriteData[i].characterInfo.death %></span></p>
                                            <%}%>
                                       
                                        <p><a class="a"
                                                href="https://lotr.fandom.com/wiki/<%- favoriteData[i].characterName %>"
                                            target="_blank">Link to wiki</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </article>
            </li>

            <% }; %>

        </ul>
    </div>
    <a class="a" id="print-quotes" href="/printAllQuotes"><button>Print All Quotes</button></a>
</section>
<%- include('partials/footer.ejs') %>