<%- include("partials/header") %>

        <div id="quote-container">
            <% if (dataGame.gameType=="quiz" ){ %>
                <h2>Quote: <span id="game-counter">(<%- dataGame.gameCounter %> / 10)</span></h2>

                <%} else if (dataGame.gameType=="sudden_death" ) {%>
                    <h2>Quote: <span id="game-counter">(<%- dataGame.gameCounter %> /
                                &infin;)</span></h2>

                    <%}%>

            <p id="quote">" <%- dataApi.quote.dialog %> "</p>
            <h3>Score: <span id="points"> <%- dataGame.score %></span></h3>
            <div id="list-btns">
                <form id="blacklist-form" action="/addToBlacklist" method="POST">
                    <div onclick="showPopUp()" id="blacklist-btn" title="Add to blacklist"><i class="fa-solid fa-thumbs-down"></i></div>
                    <div id="blacklist-popup">
                        <h4>Why don't you like this quote?</h4>
                        <input type="text" name="blacklistreason" placeholder="Type your reason for blacklisting this quote">
                        <button type="submit">Add to blacklist</button>
                        <div id="close-popup" onclick="closePopUp()">Cancel</div>
                        </div> 
                </form>
            <form action="/addToFavorites" method="POST">
                <button id="favorite-btn" title="Add to favorites"><i class="fa-solid fa-thumbs-up"></i></button>
            </form>
            </div>
            <p id="addedToList"><%-addedToListFeedback%></p>
        </div>

        <% if (dataGame.gameCounter>= 10 && dataGame.gameType == "quiz"){ %>

        <form id="form-quiz" action="/highscore" method="post">

            <%} else {%>

                <form id="form-quiz" action="/<%- dataGame.gameType %>#form-quiz" method="post">

                <%}%>

            <div id="aside">

                <% if(dataGame.userCorrectFeedback.rightMovie==1){%>
                    <h2 class="movie flash-green">Movie</h2>
                    <%}else if(dataGame.userCorrectFeedback.rightMovie==-1) {%>

                        <h2 class="movie flash-red">Movie</h2>
                        <%} else {%>
                            <h2 class="movie">Movie</h2>

                            <%}%>
                                <p id="movie-output"></p>
                                <div>
                                    <button id="submit-button" type='submit'>Next</button>
                                </div>
                                <% if(dataGame.userCorrectFeedback.rightCharacter==1){%>
                                    <h2 class="character flash-green">Character</h2>
                                    <%} else if(dataGame.userCorrectFeedback.rightCharacter==-1) {%>

                                        <h2 class="character flash-red">Character</h2>
                                        <%}else {%>
                                            <h2 class="character">Character</h2>

                                            <%}%>
                                                <p id="character-output"></p>
            </div>
            <div id="photos-container">

                <article id="movie-photos">
                    <ul>

                        

                                                <% if (dataGame.randomNumberMovie==1){ %>

                                                    <% for (let i=0; i < dataGame.moviePhotoArray.length; i++) {%>

                                                        <li>
                                                            <figure>
                                                                <img src="<%- dataGame.moviePhotoArray[i] %>"
                                                                    alt="<%- dataGame.movieArray[i].name %>">
                                                            </figure>

                                                            <input id="radio-button" name="checkboxMovie" type="radio"
                                                                value="<%- dataGame.movieArray[i].name %>">
                                                        </li>

                                                        <% }; %>

                                        </ul>
                                    </article>
                                    <article id="character-photos">
                                        <ul>

                                            <% if (dataGame.randomNumberCharacter==1){ %>

                                                <li>
                                                    <figure>
                                                        <img src="<%- dataGame.characterPhotoArray[1] %>"
                                                            alt="<%- dataGame.characterArray[1].name %>">
                                                        <p id="names-button"><span><%- dataGame.characterArray[1].name
                                                                    %></span></p>
                                                    </figure>
                                                    <input id="radio-button" name="checkboxCharacter" type="radio"
                                                        value="<%- dataGame.characterArray[1].name %>">

                                                </li>
                                                <li>
                                                    <figure>
                                                        <img src="<%- dataGame.characterPhotoArray[2] %>"
                                                            alt="<%- dataGame.characterArray[2].name %>">
                                                        <p id="names-button"><span><%- dataGame.characterArray[2].name
                                                                    %></span></p>
                                                    </figure>
                                                    <input id="radio-button" name="checkboxCharacter" type="radio"
                                                        value="<%- dataGame.characterArray[2].name %>">

                                                </li>
                                                <li>
                                                    <figure>
                                                        <img src="<%- dataGame.characterPhotoArray[0] %>"
                                                            alt="<%- dataGame.characterArray[0].name %>">
                                                        <p id="names-button"><span><%- dataGame.characterArray[0].name
                                                                    %></span></p>
                                                    </figure>
                                                    <input id="radio-button" name="checkboxCharacter" type="radio"
                                                        value="<%- dataGame.characterArray[0].name %>">

                                                </li>

                                                <%} else if (dataGame.randomNumberCharacter==2) { %>

                                                    <li>
                                                        <figure>
                                                            <img src="<%- dataGame.characterPhotoArray[0] %>"
                                                                alt="<%- dataGame.characterArray[0].name %>">
                                                            <p id="names-button"><span><%-
                                                                        dataGame.characterArray[0].name %></span></p>
                                                        </figure>
                                                        <input id="radio-button" name="checkboxCharacter" type="radio"
                                                            value="<%- dataGame.characterArray[0].name %>">

                                                    </li>
                                                    <li>
                                                        <figure>
                                                            <img src="<%- dataGame.characterPhotoArray[2] %>"
                                                                alt="<%- dataGame.characterArray[2].name %>">
                                                            <p id="names-button"><span><%-
                                                                        dataGame.characterArray[2].name %></span></p>
                                                        </figure>
                                                        <input id="radio-button" name="checkboxCharacter" type="radio"
                                                            value="<%- dataGame.characterArray[2].name %>">

                                                    </li>
                                                    <li>
                                                        <figure>
                                                            <img src="<%- dataGame.characterPhotoArray[1] %>"
                                                                alt="<%- dataGame.characterArray[1].name %>">
                                                            <p id="names-button"><span><%-
                                                                        dataGame.characterArray[1].name %></span></p>
                                                        </figure>
                                                        <input id="radio-button" name="checkboxCharacter" type="radio"
                                                            value="<%- dataGame.characterArray[1].name %>">

                                                    </li>

                                                    <%} %>

                                        </ul>
                                    </article>

                                    <%} else if (dataGame.randomNumberMovie==2) { %>

                                        <li>
                                            <figure>
                                                <img src="<%- dataGame.moviePhotoArray[1] %>"
                                                    alt="<%- dataGame.movieArray[1].name %>">
                                            </figure>

                                            <input id="radio-button" name="checkboxMovie" type="radio"
                                                value="<%- dataGame.movieArray[1].name %>">
                                        </li>
                                        <li>
                                            <figure>
                                                <img src="<%- dataGame.moviePhotoArray[2] %>"
                                                    alt="<%- dataGame.movieArray[2].name %>">
                                            </figure>
                                            <input id="radio-button" name="checkboxMovie" type="radio"
                                                value="<%- dataGame.movieArray[2].name %>">
                                        </li>
                                        <li>
                                            <figure>
                                                <img src="<%- dataGame.moviePhotoArray[0] %>"
                                                    alt="<%- dataGame.movieArray[0].name %>">
                                            </figure>
                                            <input id="radio-button" name="checkboxMovie" type="radio"
                                                value="<%- dataGame.movieArray[0].name %>">
                                        </li>
                    </ul>
                </article>

                <article id="character-photos">
                    <ul>

                        <% if (dataGame.randomNumberCharacter==1){ %>

                            <% for (let i=0; i < dataGame.characterPhotoArray.length; i++) {%>

                                <li>
                                    <figure>
                                        <img src="<%- dataGame.characterPhotoArray[i] %>"
                                            alt="<%- dataGame.characterArray[i].name %>">
                                        <p id="names-button"><span><%- dataGame.characterArray[i].name %></span></p>
                                    </figure>
                                    <input id="radio-button" name="checkboxCharacter" type="radio"
                                        value="<%- dataGame.characterArray[i].name %>">

                                </li>

                                <% }; %>

                                    <%} else if (dataGame.randomNumberCharacter==2) { %>

                                        <li>
                                            <figure>
                                                <img src="<%- dataGame.characterPhotoArray[1] %>"
                                                    alt="<%- dataGame.characterArray[1].name %>">
                                                <p id="names-button"><span><%- dataGame.characterArray[1].name %></span>
                                                </p>
                                            </figure>
                                            <input id="radio-button" name="checkboxCharacter" type="radio"
                                                value="<%- dataGame.characterArray[1].name %>">

                                        </li>
                                        <li>
                                            <figure>
                                                <img src="<%- dataGame.characterPhotoArray[0] %>"
                                                    alt="<%- dataGame.characterArray[0].name %>">
                                                <p id="names-button"><span><%- dataGame.characterArray[0].name %></span>
                                                </p>
                                            </figure>
                                            <input id="radio-button" name="checkboxCharacter" type="radio"
                                                value="<%- dataGame.characterArray[0].name %>">

                                        </li>
                                        <li>
                                            <figure>
                                                <img src="<%- dataGame.characterPhotoArray[2] %>"
                                                    alt="<%- dataGame.characterArray[2].name %>">
                                                <p id="names-button"><span><%- dataGame.characterArray[2].name %></span>
                                                </p>
                                            </figure>
                                            <input id="radio-button" name="checkboxCharacter" type="radio"
                                                value="<%- dataGame.characterArray[2].name %>">

                                        </li>

                                        <%}%>

                    </ul>
                </article>

                <%} else { %>

                    <li>
                        <figure>
                            <img src="<%- dataGame.moviePhotoArray[2] %>" alt="<%- dataGame.movieArray[2].name %>">
                        </figure>
                        <input id="radio-button" name="checkboxMovie" type="radio"
                            value="<%- dataGame.movieArray[2].name %>">
                    </li>
                    <li>
                        <figure>
                            <img src="<%- dataGame.moviePhotoArray[0] %>" alt="<%- dataGame.movieArray[0].name %>">
                        </figure>
                        <input id="radio-button" name="checkboxMovie" type="radio"
                            value="<%- dataGame.movieArray[0].name %>">
                    </li>
                    <li>
                        <figure>
                            <img src="<%- dataGame.moviePhotoArray[1] %>" alt="<%- dataGame.movieArray[1].name %>">
                        </figure>
                        <input id="radio-button" name="checkboxMovie" type="radio"
                            value="<%- dataGame.movieArray[1].name %>">
                    </li>
                    </ul>
                    </article>

                    <article id="character-photos">
                        <ul>
                            <% if (dataGame.randomNumberCharacter==1){ %>

                                <% for (let i=0; i < dataGame.characterPhotoArray.length; i++) {%>

                                    <li>
                                        <figure>
                                            <img src="<%- dataGame.characterPhotoArray[i] %>"
                                                alt="<%- dataGame.characterArray[i].name %>">
                                            <p id="names-button"><span><%- dataGame.characterArray[i].name %></span></p>
                                        </figure>
                                        <input id="radio-button" name="checkboxCharacter" type="radio"
                                            value="<%- dataGame.characterArray[i].name %>">

                                    </li>

                                    <% }; %>

                                        <%} else if (dataGame.randomNumberCharacter==2) { %>

                                            <li>
                                                <figure>
                                                    <img src="<%- dataGame.characterPhotoArray[1] %>"
                                                        alt="<%- dataGame.characterArray[1].name %>">
                                                    <p id="names-button"><span><%- dataGame.characterArray[1].name
                                                                %></span></p>
                                                </figure>
                                                <input id="radio-button" name="checkboxCharacter" type="radio"
                                                    value="<%- dataGame.characterArray[1].name %>">

                                            </li>
                                            <li>
                                                <figure>
                                                    <img src="<%- dataGame.characterPhotoArray[0] %>"
                                                        alt="<%- dataGame.characterArray[0].name %>">
                                                    <p id="names-button"><span><%- dataGame.characterArray[0].name
                                                                %></span></p>
                                                </figure>
                                                <input id="radio-button" name="checkboxCharacter" type="radio"
                                                    value="<%- dataGame.characterArray[0].name %>">

                                            </li>
                                            <li>
                                                <figure>
                                                    <img src="<%- dataGame.characterPhotoArray[2] %>"
                                                        alt="<%- dataGame.characterArray[2].name %>">
                                                    <p id="names-button"><span><%- dataGame.characterArray[2].name
                                                                %></span></p>
                                                </figure>
                                                <input id="radio-button" name="checkboxCharacter" type="radio"
                                                    value="<%- dataGame.characterArray[2].name %>">

                                            </li>

                                            <%}%>

                        </ul>
                    </article>
            </div>

            <%}%>

        </form>
<%- include('partials/footer.ejs') %>