

<%- include("partials/headQuiz") %>

<section id="quote-section">
    <article id="quote-article">
        <a href="landing.html" class="link-button">Home</a>
        <h2>Quote:<br><span id="game-counter">(<%- dataGame.gameCounter %> / 10)</span></h2>
        <p id="quote">" <%- dataApi.quote.dialog %> "</p>
        <h3>Your score is: <span id="points"> <%- dataGame.score %> pts</span></h3>
        <a href="#" class="link-button">My Profile</a>
    </article>
</section>

<section id="photo-section">
    <% if (dataGame.gameCounter == 10){ %>
        <form action="/highscore" method="post">
            <article id="movie-photos">
                <ul>
    <%} else {%>
    <form action="/quiz" method="post">
        <article id="movie-photos">
            <ul>
            <%}%>


            <% if (dataGame.randomNumber == 1){ %>

                <li>
                    <figure>
                        <img src="<%- dataGame.moviePhotoArray[0] %>"
                                alt="<%- dataGame.movieArray[0].name %>">
                    </figure>
                    <p class="names-button"><%- dataGame.movieArray[0].name %></p><input name="checkboxMovie"
                        type="radio" value="<%- dataGame.movieArray[0].name %>">
                </li>
                <li>
                    <figure>
                        <img src="<%- dataGame.moviePhotoArray[1] %>"
                                alt="<%- dataGame.movieArray[1].name %>">
                    </figure>
                    <p class="names-button"><%- dataGame.movieArray[1].name %></p><input name="checkboxMovie"
                        type="radio" value="<%- dataGame.movieArray[1].name %>">
                </li>
                <li>
                    <figure>
                        <img src="<%- dataGame.moviePhotoArray[2] %>"
                                alt="<%- dataGame.movieArray[2].name %>">
                    </figure>
                    <p class="names-button"><%- dataGame.movieArray[2].name %></p><input name="checkboxMovie"
                        type="radio" value="<%- dataGame.movieArray[2].name %>">
                </li>
                </ul>
                </article>
                <article id="character-photos">
                    <ul>
                       
                        <li>
                            <figure>
                                <img src="<%- dataGame.characterPhotoArray[1] %>"
                                        alt="<%- dataGame.characterArray[1].name %>">
                            </figure>
                            <p class="names-button"><%- dataGame.characterArray[1].name %></p><input
                                name="checkboxCharacter" type="radio" value="<%- dataGame.characterArray[1].name %>">
                        </li>
                        <li>
                            <figure>
                                <img src="<%- dataGame.characterPhotoArray[2] %>"
                                        alt="<%- dataGame.characterArray[2].name %>">
                            </figure>
                            <p class="names-button"><%- dataGame.characterArray[2].name %></p><input
                                name="checkboxCharacter" type="radio" value="<%- dataGame.characterArray[2].name %>">
                        </li>
                        <li>
                            <figure>
                                <img src="<%- dataGame.characterPhotoArray[0] %>"
                                        alt="<%- dataGame.characterArray[0].name %>">
                            </figure>
                            <p class="names-button"><%- dataGame.characterArray[0].name %></p><input
                                name="checkboxCharacter" type="radio" value="<%- dataGame.characterArray[0].name %>">
                        </li>
                    </ul>
                </article>

                <%} else if (dataGame.randomNumber == 2) { %>

                    <li>
                        <figure>
                            <img src="<%- dataGame.moviePhotoArray[1] %>"
                                    alt="<%- dataGame.movieArray[1].name %>">
                        </figure>
                        <p class="names-button"><%- dataGame.movieArray[1].name %></p><input
                            name="checkboxMovie" type="radio" value="<%- dataGame.movieArray[1].name %>">
                    </li>
                    <li>
                        <figure>
                            <img src="<%- dataGame.moviePhotoArray[2] %>"
                                    alt="<%- dataGame.movieArray[2].name %>">
                        </figure>
                        <p class="names-button"><%- dataGame.movieArray[2].name %></p><input
                            name="checkboxMovie" type="radio" value="<%- dataGame.movieArray[2].name %>">
                    </li>
                    <li>
                        <figure>
                            <img src="<%- dataGame.moviePhotoArray[0] %>"
                                    alt="<%- dataGame.movieArray[0].name %>">
                        </figure>
                        <p class="names-button"><%- dataGame.movieArray[0].name %></p><input
                            name="checkboxMovie" type="radio" value="<%- dataGame.movieArray[0].name %>">
                    </li>
                    </ul>
                    </article>

                    <article id="character-photos">
                        <ul>
                            <li>
                                <figure>
                                    <img src="<%- dataGame.characterPhotoArray[2] %>"
                                            alt="<%- dataGame.characterArray[2].name %>">
                                </figure>
                                <p class="names-button"><%- dataGame.characterArray[2].name %></p><input
                                    name="checkboxCharacter" type="radio"
                                    value="<%- dataGame.characterArray[2].name %>">
                            </li>
                            <li>
                                <figure>
                                    <img src="<%- dataGame.characterPhotoArray[0] %>"
                                            alt="<%- dataGame.characterArray[0].name %>">
                                </figure>
                                <p class="names-button"><%- dataGame.characterArray[0].name %></p><input
                                    name="checkboxCharacter" type="radio"
                                    value="<%- dataGame.characterArray[0].name %>">
                            </li>
                            <li>
                                <figure>
                                    <img src="<%- dataGame.characterPhotoArray[1] %>"
                                            alt="<%- dataGame.characterArray[1].name %>">
                                </figure>
                                <p class="names-button"><%- dataGame.characterArray[1].name %></p><input
                                    name="checkboxCharacter" type="radio"
                                    value="<%- dataGame.characterArray[1].name %>">
                            </li>
                            
                        </ul>
                    </article>

                    <%} else { %>

                        <li>
                            <figure>
                                <img src="<%- dataGame.moviePhotoArray[2] %>"
                                        alt="<%- dataGame.movieArray[2].name %>">
                            </figure>
                            <p class="names-button"><%- dataGame.movieArray[2].name %></p><input
                                name="checkboxMovie" type="radio" value="<%- dataGame.movieArray[2].name %>">
                        </li>
                        <li>
                            <figure>
                                <img src="<%- dataGame.moviePhotoArray[0] %>"
                                        alt="<%- dataGame.movieArray[0].name %>">
                            </figure>
                            <p class="names-button"><%- dataGame.movieArray[0].name %></p><input
                                name="checkboxMovie" type="radio" value="<%- dataGame.movieArray[0].name %>">
                        </li>
                        <li>
                            <figure>
                                <img src="<%- dataGame.moviePhotoArray[1] %>"
                                        alt="<%- dataGame.movieArray[1].name %>">
                            </figure>
                            <p class="names-button"><%- dataGame.movieArray[1].name %></p><input
                                name="checkboxMovie" type="radio" value="<%- dataGame.movieArray[1].name %>">
                        </li>
                        </ul>
                        </article>

                        <article id="character-photos">
                            <ul>
                                <li>
                                    <figure>
                                        <img src="<%- dataGame.characterPhotoArray[0] %>"
                                                alt="<%- dataGame.characterArray[0].name %>">
                                    </figure>
                                    <p class="names-button"><%- dataGame.characterArray[0].name %></p><input
                                        name="checkboxCharacter" type="radio"
                                        value="<%- dataGame.characterArray[0].name %>">
                                </li>
                                <li>
                                    <figure>
                                        <img src="<%- dataGame.characterPhotoArray[1] %>"
                                                alt="<%- dataGame.characterArray[1].name %>">
                                    </figure>
                                    <p class="names-button"><%- dataGame.characterArray[1].name %></p><input
                                        name="checkboxCharacter" type="radio"
                                        value="<%- dataGame.characterArray[1].name %>">
                                </li>
                                <li>
                                    <figure>
                                        <img src="<%- dataGame.characterPhotoArray[2] %>"
                                                alt="<%- dataGame.characterArray[2].name %>">
                                    </figure>
                                    <p class="names-button"><%- dataGame.characterArray[2].name %></p><input
                                        name="checkboxCharacter" type="radio"
                                        value="<%- dataGame.characterArray[2].name %>">
                                </li>
                                
                            </ul>
                        </article>
                        <%}%>
                            <div>
                                <button id="submit-button" type='submit'>Submit</button>
                            </div>
                            </form>
                            </section>

                            
                            </main>
                            </body>

                            </html>