

<%- include("partials/headQuiz") %>
<section id="quote-section">
    <article id="quote-article">
        <button href="landing.html" class="link-button">Home</button>
        <h2>Quote:<br><span id="game-counter">(<%- dataGame.gameCounter %> / 10)</span></h2>
        <p id="quote">" <%- dataApi.quote.dialog %> "</p>
        <h3>Score: <span id="points"> <%- dataGame.score %></span></h3>
        <button href="#" class="link-button">Mijn Profiel</button>
    </article>
</section>
<section id="previous-answers">
    <p><%- dataGame.previousQuizAnswers %></p>
</section>
<section id="photo-section">
    

    <% if (dataGame.gameCounter == 10){ %>
        <form action="/highscore" method="post">
            <div id="aside">
                <h2 class = "movie">Movie</h2>
                <p id="movie-output"></p>
                <div>
                    <button id="submit-button" type='submit'>Next</button>
                </div>
                <h2 class = "character">Character</h2>
                <p id="character-output"></p>
            </div>
            <div id="photos-container">
            <article id="movie-photos">
                <ul>
    <%} else {%>
    <form action="/quiz" method="post">
        <div id="aside">
            <h2 class = "movie">Movie</h2>
            <p id="movie-output"></p>
            <div>
                <button id="submit-button" type='submit'>Next</button>
            </div>
            <h2 class = "character">Character</h2>
            <p id="character-output"></p>
        </div>
        <div id="photos-container">
        <article id="movie-photos">
            <ul>
            <%}%>

            <% if (dataGame.randomNumber == 1){ %>

                <% for (let i = 0; i < dataGame.moviePhotoArray.length; i++) {%>
                    <li>
                        <figure>
                            <img src="<%- dataGame.moviePhotoArray[i] %>"
                                    alt="<%- dataGame.movieArray[i].name %>">
                        </figure>
                        <p id="names-button"><input id="radio-button" name="checkboxMovie"
                            type="radio" value="<%- dataGame.movieArray[i].name %>"></p>
                    </li>

                <% }; %> 

                </ul>
                </article>
                <article id="character-photos">
                    <ul>
                        <li>
                            <figure>
                                <img src="<%- dataGame.characterPhotoArray[1] %>"
                                        alt="<%- dataGame.characterArray[1].name %>">
                            </figure>
                            <p id="names-button"><%- dataGame.characterArray[1].name %><input id="radio-button"
                                name="checkboxCharacter" type="radio" value="<%- dataGame.characterArray[1].name %>"></p>
                        </li>
                        <li>
                            <figure>
                                <img src="<%- dataGame.characterPhotoArray[2] %>"
                                        alt="<%- dataGame.characterArray[2].name %>">
                            </figure>
                            <p id="names-button"><%- dataGame.characterArray[2].name %><input id="radio-button"
                                name="checkboxCharacter" type="radio" value="<%- dataGame.characterArray[2].name %>"></p>
                        </li>
                        <li>
                            <figure>
                                <img src="<%- dataGame.characterPhotoArray[0] %>"
                                        alt="<%- dataGame.characterArray[0].name %>">
                            </figure>
                            <p id="names-button"><%- dataGame.characterArray[0].name %><input id="radio-button"
                                name="checkboxCharacter" type="radio" value="<%- dataGame.characterArray[0].name %>"></p>
                        </li>
                    </ul>
                </article>

                <%} else if (dataGame.randomNumber == 2) { %>

                    <li>
                        <figure>
                            <img src="<%- dataGame.moviePhotoArray[1] %>"
                                    alt="<%- dataGame.movieArray[1].name %>">
                        </figure>
                        <p id="names-button"><input id="radio-button"
                            name="checkboxMovie" type="radio" value="<%- dataGame.movieArray[1].name %>"></p>
                    </li>
                    <li>
                        <figure>
                            <img src="<%- dataGame.moviePhotoArray[2] %>"
                                    alt="<%- dataGame.movieArray[2].name %>">
                        </figure>
                        <p id="names-button"><input id="radio-button"
                            name="checkboxMovie" type="radio" value="<%- dataGame.movieArray[2].name %>"></p>
                    </li>
                    <li>
                        <figure>
                            <img src="<%- dataGame.moviePhotoArray[0] %>"
                                    alt="<%- dataGame.movieArray[0].name %>">
                        </figure>
                        <p id="names-button"><input id="radio-button"
                            name="checkboxMovie" type="radio" value="<%- dataGame.movieArray[0].name %>"></p>
                    </li>
                    </ul>
                    </article>

                    <article id="character-photos">
                        <ul>
                            <% for (let i = 0; i < dataGame.characterPhotoArray.length; i++) {%>
                                <li>
                                    <figure>
                                        <img src="<%- dataGame.characterPhotoArray[i] %>"
                                                alt="<%- dataGame.characterArray[i].name %>">
                                    </figure>
                                    <p id="names-button"><%- dataGame.characterArray[i].name %><input id="radio-button"
                                        name="checkboxCharacter" type="radio"
                                        value="<%- dataGame.characterArray[i].name %>"></p>
                                </li>
            
                            <% }; %> 
                            
                        </ul>
                    </article>

                    <%} else { %>

                        <li>
                            <figure>
                                <img src="<%- dataGame.moviePhotoArray[2] %>"
                                        alt="<%- dataGame.movieArray[2].name %>">
                            </figure>
                            <p id="names-button">
                                <input id="radio-button"
                                name="checkboxMovie" type="radio" value="<%- dataGame.movieArray[2].name %>">
                            </p>
                        </li>
                        <li>
                            <figure>
                                <img src="<%- dataGame.moviePhotoArray[0] %>"
                                        alt="<%- dataGame.movieArray[0].name %>">
                            </figure>
                            <p id="names-button"><input id="radio-button"
                                name="checkboxMovie" type="radio" value="<%- dataGame.movieArray[0].name %>"></p>
                        </li>
                        <li>
                            <figure>
                                <img src="<%- dataGame.moviePhotoArray[1] %>"
                                        alt="<%- dataGame.movieArray[1].name %>">
                            </figure>
                            <p id="names-button"><input id="radio-button"
                                name="checkboxMovie" type="radio" value="<%- dataGame.movieArray[1].name %>"></p>
                        </li>
                        </ul>
                        </article>

                        <article id="character-photos">
                            <ul>
                                <li>
                                    <figure>
                                        <img src="<%- dataGame.characterPhotoArray[0] %>"
                                                alt="<%- dataGame.characterArray[0].name %>">
                                    </figure>
                                    <p id="names-button"><%- dataGame.characterArray[0].name %><input id="radio-button"
                                        name="checkboxCharacter" type="radio"
                                        value="<%- dataGame.characterArray[0].name %>"></p>
                                </li>
                                <li>
                                    <figure>
                                        <img src="<%- dataGame.characterPhotoArray[1] %>"
                                                alt="<%- dataGame.characterArray[1].name %>">
                                    </figure>
                                    <p id="names-button"><%- dataGame.characterArray[1].name %><input id="radio-button"
                                        name="checkboxCharacter" type="radio"
                                        value="<%- dataGame.characterArray[1].name %>"></p>
                                </li>
                                <li>
                                    <figure>
                                        <img src="<%- dataGame.characterPhotoArray[2] %>"
                                                alt="<%- dataGame.characterArray[2].name %>">
                                    </figure>
                                    <p id="names-button"><%- dataGame.characterArray[2].name %><input id="radio-button"
                                        name="checkboxCharacter" type="radio"
                                        value="<%- dataGame.characterArray[2].name %>"></p>
                                </li>
                                
                            </ul>
                        </article>
                    </div>
                        <%}%>
                            
                            </form>
                            </section>
                            </main>
                            </body>

                            </html>