<!DOCTYPE html>
<html lang="nl-BE">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Quiz</title>
</head>

<body>
    <main>
        <section id="photo-section">
            <form action="/" method="post">
                <article id="movie-photos">
                    <ul>
                        <li>
                            <figure>
                                <a href="#"><img src="<%- dataGame.moviePhotoArray[0] %>"
                                        alt="<%- dataGame.movieArray[0].name %>"></a>
                            </figure>
                            <a href="#" class="names-button"><%- dataGame.movieArray[0].name %></a><input
                                name="checkboxMovie" type="radio" value="<%- dataGame.movieArray[0].name %>">
                        </li>
                        <li>
                            <figure>
                                <a href="#"><img src="<%- dataGame.moviePhotoArray[1] %>"
                                        alt="<%- dataGame.movieArray[1].name %>"></a>
                            </figure>
                            <a href="#" class="names-button"><%- dataGame.movieArray[1].name %></a><input
                                name="checkboxMovie" type="radio" value="<%- dataGame.movieArray[1].name %>">
                        </li>
                        <li>
                            <figure>
                                <a href="#"><img src="<%- dataGame.moviePhotoArray[2] %>"
                                        alt="<%- dataGame.movieArray[2].name %>"></a>
                            </figure>
                            <a href="#" class="names-button"><%- dataGame.movieArray[2].name %></a><input
                                name="checkboxMovie" type="radio" value="<%- dataGame.movieArray[2].name %>">
                        </li>
                    </ul>
                </article>
                <article id="character-photos">
                    <ul>
                        <li>
                            <figure>
                                <a href="#"><img src="<%- dataGame.characterPhotoArray[0] %>"
                                        alt="<%- dataGame.characterArray[0].name %>"></a>
                            </figure>
                            <a href="#" class="names-button"><%- dataGame.characterArray[0].name %></a><input
                                name="checkboxCharacter" type="radio" value="<%- dataGame.characterArray[0].name %>">
                        </li>
                        <li>
                            <figure>
                                <a href="#"><img src="<%- dataGame.characterPhotoArray[1] %>"
                                        alt="<%- dataGame.characterArray[1].name %>"></a>
                            </figure>
                            <a href="#" class="names-button"><%- dataGame.characterArray[1].name %></a><input
                                name="checkboxCharacter" type="radio" value="<%- dataGame.characterArray[1].name %>">
                        </li>
                        <li>
                            <figure>
                                <a href="#"><img src="<%- dataGame.characterPhotoArray[2] %>"
                                        alt="<%- dataGame.characterArray[2].name %>"></a>
                            </figure>
                            <a href="#" class="names-button"><%- dataGame.characterArray[2].name %></a><input
                                name="checkboxCharacter" type="radio" value="<%- dataGame.characterArray[2].name %>">
                        </li>
                    </ul>
                </article>
                <div>
                    <button type='submit'>Submit</button>
                </div>
            </form>
        </section>
        <section id="quote-section">
            <article>
                <a href="landing.html" class="link-button">Home</a>
                <h2>Quote:<br><span id="game-counter">(<%- dataGame.gameCounter %> / 10)</span></h2>
                <p id="quote">" <%- dataApi.quote.dialog %> "</p>
                <h3>Your score is: <span id="points"> <%- dataGame.score %> pts</span></h3>
                <a href="#" class="link-button">My Profile</a>
            </article>
        </section>
    </main>
</body>

</html>